
input[type=checkbox] {
    transform: scale(1.5);
    display:inline;
}

p { 
    display: inline;
    font-size: 15px;
}

div {

    display: 'block';

}

.subGroup {

    font-size: 25px;
    display: inline;

}

.title {

    font-size: 35px;
    display: inline;
    margin-bottom: 10px;
    margin-top: 10px;

}

.group {

    font-size: 30px;
    display: block;

}

.mainbutton {

    font-size: 30px;
    display: inline;

}

.expand {

    font-size: 15px;
    display: inline;

}

.hidden {

    display: none;

}
